#prodesigned{
    position: relative;
    left: 38%;
    top: 130px;
    width: 340px;
    height:280px;
    border: solid;
    border-radius: 8px;
}
#heading{
    color: olivedrab;
    text-align: center;
}
#inputbox{
    position: relative;
    left: 15px;
    height: 40px;
    width: 300px;
    border-radius: 9px;
}
#buttonbox{
    position: relative;
    left: 20px;
    height: 40px;
    width: 300px;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    background-color: olivedrab;
}
#inputbox{
    font-size: 12px;
}
.error{
    color: red;
    font-size: 12px;
}
.successMessage{
    color: green;
    font-size: 12px;
}
.errorMessage{
     color: red;
    font-size: 12px;
}